<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>

<body background="/img/sc2.jpg">

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>
    <a class="btn btn-default btn-lg glyphicon glyphicon-home" style="position: absolute; top:80px; left:20px" th:attr="href='/'"></a>

    <a><img id="avatar" th:src="${avatar}" alt="your personal avatar" height="50" width="50"/></a>

    <a href="/shopping_cart">
    <img class="btn btn-default btn-sm" id="cart_icon" src="http://placehold.it/25x25/000/fff" th:attr="src='/img/cart_icon.png'" alt="" /></a>
    <strong id="cart_nr" th:text="${cart}">Cart sum</strong>
<div class="container">
    <div class="well well-sm">
    <div class="dropdown category-drop">
        <button class="btn btn-primary dropdown-toggle" type="button" th:text="${category}" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li th:each="cat : ${categories}">
                <a th:attr="href='/category/'+${cat.id}" href="/category/1" th:text="${cat.name}">Category 1</a>
            </li>
        </ul>
        <div class="dropdown supplier-drop">
        <button class="btn btn-primary dropdown-toggle" type="button" th:text="${supplier}" data-toggle="dropdown">Dropdown Example
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li th:each="sup : ${suppliers}">
                <a th:attr="href='/supplier/'+${sup.id}" href="/category/1" th:text="${sup.name}">Category 1</a>
            </li>
        </ul>
        </div>
        </div>
    </div>
    <div id="products" class="row list-group">
        <div class="item col-xs-4 col-lg-4" th:each="prod,iterStat : ${products}">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" th:attr="href='/addtocart/'+${prod.id}">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<div id="top5" class="panel panel-default">
    <h3>
    <div>Top 5 product:</div>
    </h3>
    <h4>
    <li th:each="prod : ${top5}">
        <a th:text="${prod.name}">Category 1</a>
    </li>
        </h4>
</div>

<div th:replace="footer :: copy"></div>

</body>
</html>